/* ---GENERAL STYLES--- */
* {
  margin: 0;
  text-align: center;
}
.page-body {
  margin-bottom: 7rem;
}
.handrawn-font {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ---BUTTON--- */
.nav-button {
  background-color: #e5bdff;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: x-large;
}

/* ---FOOTER--- */
footer {
  background-color: white;
  bottom: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.small-logo {
  height: 3rem;
}

/* ---HEADER--- */
.cat-logo {
  height: 6rem;
  margin: 1rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fcf8ff;
}
.nav-link:hover {
  color: #9800f8 !important;
}
.nav-link-group {
  display: flex;
  padding-top: 2rem;
  font-size: 16pt !important;
  margin: 1rem;
}

/* ---HOME--- */
.home-title {
  font-size: 12rem;
}
.home-cat-picture {
  width: 30rem;
  margin: 1rem;
}
.home-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* --INDEX--- */
.card {
  height: 24rem;
  width: 18rem;
  box-shadow: 2px 2px #a88eb8;
  margin-bottom: 2rem;
}
.index-title {
  font-size: 7rem;
}
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-profile-image {
  max-height: 270px;
  overflow: hidden;
}
.index-cat-name {
  font-size: 3rem;
}
.cat-image {
  width: 17rem;
}

/* ---NOT FOUND--- */
.notfound-title {
  font-size: 7rem;
}
.notfound-dog-picture {
  width: 25rem;
  margin: 1rem;
}
